@import "../node_modules/antd/dist/antd.compact.css";

body {
    padding: 20px;
}

.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.ant-table-tbody > tr:hover {
    cursor: pointer;
}

.ant-table-tbody > tr.ant-table-row.bg-green:not(:hover) > td {
    background-color: rgba(0, 128, 0, 0.7) !important;
    color: #ffffff !important;
}

.ant-table-tbody > tr.ant-table-row.bg-red:not(:hover) > td {
    background-color: rgba(243, 84, 84, 0.7) !important;
    color: #ffffff !important;
}
